# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# SQLite database
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# Environment variables
.env

# Media
/media
/staticfiles

# VS Code
.vscode/