<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUIRE-Edit Songs</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card" style="margin-top:30px;">
              <div class="card" style="border: none;">
                <div class="card-body"  style="background: #161719;">
                  <h4 class="card-title" style="color: blueviolet;">EDIT ADDED SONGS</h4>
                  <form class="forms-sample" method="post" action="{% url 'update_songs' song_id=song_data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputdate1" style="color: #cccccc;">Date</label>
                      <input type="date" class="form-control" id="exampleInputdate1" name="date" style="width: 200px; background:#171a1d; border-color: rgb(97, 55, 136);" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputUsername1" style="color: #cccccc;">Song Name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Song Name" name="song" value="{{song_data.song}}" style="background:#171a1d; border-color: rgb(97, 55, 136); color: #cccccc;" required>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1" style="color: #cccccc;">Song Link</label>
                        <textarea class="form-control" id="exampleInputEmail1" placeholder="Add song link" name="des" style="height:100px; background:#171a1d; border-color: rgb(97, 55, 136); color: #cccccc;">{{song_data.des}}</textarea>
                    </div>
                    <button type="submit" name="action" value="UPDATE" class="btn btn-primary mr-2">UPDATE</button>
                    <button type="submit" name="action" value="Cancel" class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'success' %}
       <script>
           swal('{{i}}','','success');
       </script>
    {% elif i.tags == 'error' %}
       <script>
           swal('{{i}}','','error');
       </script>
    {% elif i.tags == 'warning' %}
       <script>
           swal('{{i}}','','warning');
       </script>
    {% else %}
       <script>
           swal('{{i}}','','info');
       </script>

    {% endif %}

  {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}