<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUIRE-Edit Songs</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card" style="margin-top:30px;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">EDIT ADDED SONGS</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form layout-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_songs' song_ID=song_data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Song Name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Song Name" name="song" value="{{song_data.song}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Description</label>
<!--                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description" name="des">-->
                        <textarea class="form-control" id="exampleInputEmail1" placeholder="Description about song" name="des" style="height:100px;">{{song_data.des}}</textarea>
                    </div>
<!--                    <div class="form-group">-->
<!--                      <label for="exampleImage">Category Image</label>-->
<!--                        <img src="{{cat_data.cat_image.url}}" style="width:80px;height:70px;">-->
<!--                      <input type="file" class="form-control" id="exampleImage" placeholder="Upload Image" name="image">-->
<!--                    </div>-->
                    <button type="submit" class="btn btn-primary mr-2">UPDATE</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'success' %}
       <script>
           swal('{{i}}','','success');
       </script>
    {% elif i.tags == 'error' %}
       <script>
           swal('{{i}}','','error');
       </script>
    {% elif i.tags == 'warning' %}
       <script>
           swal('{{i}}','','warning');
       </script>
    {% else %}
       <script>
           swal('{{i}}','','info');
       </script>

    {% endif %}

  {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}